* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    position: absolute;
    width: 50px;
    margin-left: -93%;
    margin-top: -70px;
}

@media screen and (max-width: 830px) {
    .logo {
        margin-left: -90%;
    }
}

.topo {
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110%;
}

pre {
    margin-top: 20px;
    font-size: 25px;
}

.adicionar-1 {
    background: orangered;
    border: none;
    border-radius: 5px;
    width: 60px;
    height: 35px;
    font-size: 20px;
    color: white;
    margin-right: 90%;
}

.adicionar-1:hover {
    background-color: orange;
}

.area-tarefa {
    margin-top: 20px;
    border: 2px solid;
    border-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 96%;
    height: fit-content;
}

.rodape {
    margin-top: 50px;
    background: rgb(255, 119, 0);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
    height: 114px;
    font-size: 25px;
    color: white;
}

.tarefa {
    width: 80%;
    height: 50px;
    border: 1px solid;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

h2 {
   margin-left: -75%;
}

.excluir {
    background: none;
    border: none;
    margin-: ;
    margin-top: 9px;
}